@font-face {
    font-family: 'Anodina';
    src:
        local('Anodina'),
        local('Anodina-Regular'),
        url('sourceFiles/Anodina/Anodina-Regular.otf');
        font-weight: 400;
    }
@font-face {
        font-family: 'Anodina';
        src:
            local('Anodina Extra Light'),
            local('Anodina-ExtraLight'),
            url('sourceFiles/Anodina/Anodina-ExtraLight.otf');
            font-weight: 200;
        }

        
html{
    font-family: "Anodina", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}

body {
    background-color: #b2ff73;
    text-align: center;
}

#home {
    background-image: url("sourceFiles/bg-pattern.jpg");
}

.box {
    color: rgb(245, 245, 245);
    display: block;
    width: 375px;
    height: 375px;
    background-color:  rgba(0, 0, 0, 0.4);
    margin: 0 auto;
    border-radius: 10px; 
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);   
}

h1 {
    margin: 30% auto 0;
    padding-top: 25%;
}

.box h2 {
    margin: 0 auto 50px;
    padding-top: 25%;
    font-size: 40px;
    line-height: 0;
    display: inline;
}

video{
    padding: 40px 20px 0;
}

.box h5 a{
    color: pink;
    text-decoration: none;
}